body {
	font-family: 'Bombardier', Fallback, sans-serif;
}

.logoshape{
	border-radius: 15px;
}

.logochar{
	position: absolute;
	top: -90px;
	left: 183px;
	color: black;
	font-size: 300px;
}

.vertext{
    position: absolute;
    left: 182px;
    font-size: 25px;
}

.credit{
    position: relative;
    top: 45px;
    left: 168.7px;
}

.difverslink {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 21px;
    text-align: center
}

.difversbutton {
	font-family: 'Bombardier', Fallback, sans-serif;
    position: static;
    transition-duration: 0.3s;
    background-color: white;
    border: 2px solid white;
    font-size: 15px;
    padding: 10px 32px;
}

.difversbutton:hover{
    background-color: black;
    color: white;
}

/* 
OLD LETTER POS:
   left: 205px normal
   left: 236.5px touching border
   top: -69px normal
   top: -37.5px touching border
   31.5 distance for border

NEW LETTER POS:
   left: 184px normal
   left: 236.5px touching border
   top: 90px normal
   top: -37.5px touching border
   52.5 distance for border
*/